#landingWrapper {

    width: 100%;
    height: 150vh;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 90vh 40vh 10vh;
    grid-template-areas:
        'hd'
        'lm'
        'ls'
        'ft';
}

#aboutWrapper {

    width: 100%;
    height: 140vh;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10vh 120vh 10vh;
    grid-template-areas:
        'hd hd'
        'am aa'
        'ft ft';
}

#educationWrapper {
    width: 100%;
    height: 200vh;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10vh 140vh 40vh 10vh;
    grid-template-areas:
        'hd hd'
        'em em'
        'es ea'
        'ft ft';
}

#projectsWrapper {
    width: 100%;
    height: 220vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 200vh 10vh;
    grid-template-areas:
        'hd hd'
        'pm pm'
        'ft ft';
}

p {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-family: Arial, Helvetica, sans-serif
}

body {
    margin: 0
}

nav a {
    text-decoration: none;
    color: white;
    font: bold;
    font-size: 1.5rem;
}

footer {
    grid-area: ft;
    background-color: gray;

}

header {
    grid-area: hd;
    background-color: #333333;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px;
}

.logo {
    width: 17%;
    height: 10vh;
    background-image: url(../img/MyLogo.jpg);
    background-size: cover;
    border-radius: 50%;
}

.mobileNav {
    height: 50vh;
    width: 100%;
    top: -50vh;
    background-color: #222222;
    transition: top 0.5s;
    position: fixed;
}

.menu-button {
    cursor: pointer;
}

.menu-button i.material-icons {
    font-size: 4rem;
}

.show {
    top: 0vh;
}

.fade-layer {
    position: fixed;
    top: 50vh;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 5;
}

.fade-layer.visible {
    display: block;
}

#landingMain {
    grid-area: lm;
    background-image: url(../img/MobileLandingMe.png);
    background-size: cover;

}

.landingSection {
    grid-area: ls;
    background-color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingArticle {
    height: 30vh;
    width: 90%;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.1rem;
    box-sizing: border-box;
}

#aboutMain {
    grid-area: am;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#aboutIMG {
    height: 35vh;
    width: 90%;
    background-image: url(../img/MeAndCodeMobile.jpg);
    background-size: cover;
}

#aboutMe {
    height: 40vh;
    width: 90%;
    background-color: white;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}

#aboutAside {
    grid-area: aa;
    background-color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobileContact {
    height: 107vh;
    width: 80%;
    background-color: white;
    font-size: 0.7rem;
    padding-left: 3%;
    padding-right: 3%;
}

#educationMain {
    grid-area: em;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#educationSection {
    grid-area: es;
    background-color: #444444;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#educationAside {
    grid-area: ea;
    background-color: #444444;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.educationIMG {
    height: 30vh;
    width: 95%;
    background-color: white;
    background-image: url(../img/EducationIMG.jpg);
    background-size: cover;
}

.educationArticle {
    height: 60vh;
    width: 80%;
    background-color: white;
    font-size: 1.3rem;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}

#educationArticle2 {
    height: 30vh;
    width: 90%;
    background-color: white;
    font-size: 0.9rem;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}

#projectsMain {
    grid-area: pm;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.projectsSection {
    height: 60vh;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;



}

#projectsIMG1 {
    height: 25vh;
    width: 100%;
    background-image: url(../img/MySolitaireLowSize.jpg);
    background-size: cover;
}

.projectssArticle {
    height: 35vh;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}

#projectsIMG2 {
    height: 25vh;
    width: 100%;
    background-image: url(../img/MyCookingWebsiteLowSize27.jpg);
    background-size: cover;
}

#projectsIMG3 {
    height: 25vh;
    width: 100%;
    background-image: url(../img/Button.jpg);
    background-size: cover;
}

#desktopContact {
    display: none;
}


/* Desktop */
@media screen and (min-width:768px) {

    #landingWrapper {

        grid-template-columns: 85% 15%;
        grid-template-areas:
            'hd hd'
            'lm dn'
            'ls dn'
            'ft ft';

    }

    #aboutWrapper {
        height: 170vh;

        grid-template-columns: 85% 15%;
        grid-template-rows: 10vh 150vh 10vh;
        grid-template-areas:
            'hd hd'
            'am dn'
            'ft ft';

    }

    #educationWrapper {
        height: 180vh;

        grid-template-columns: 85% 15%;
        grid-template-rows: 10vh 80vh 40vh 40vh 10vh;
        grid-template-areas:
            'hd hd'
            'em dn'
            'es dn'
            'des dn'
            'ft ft'
    }

    #projectsWrapper {
        height: 170vh;
        display: grid;
        grid-template-columns: 85% 15%;
        grid-template-rows: 10vh 150vh 10vh;
        grid-template-areas:
            'hd hd'
            'pm dn'
            'ft ft';
    }

    .menu-button {
        display: none;
    }

    .desktopNav {
        grid-area: dn;
        background-color: #222222;
        position: fixed;
        left: 85%;
        right: 0;
        top: 0;
        bottom: 0vh;
        box-shadow: 0px 0px 5px 0px;
    }

    #desktopContact {
        height: 50vh;
        width: 90%;
        background-color: white;
    }

    #desktopEducationSection {
        grid-area: des;
        background-color: #444444;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .educationIMG2 {
        width: 30%;
        height: 30vh;
        background-image: url(../img/School.jpg);
        background-size: cover;
    }

    #extraEducationIMG {
        width: 53%;
        height: 30vh;
        background-image: url(../img/NTI.jpg);
        background-size: cover;
    }

    .educationArticle {
        height: 60vh;
        width: 40%;
        background-color: white;
    }

    #educationMain {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #projectsMain {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .projectsSection {
        width: 35%;
    }

    .landingArticle {
        font-size: 1.5rem;
    }

    #aboutMe {
        font-size: 1.5rem;
    }

    #desktopContact {
        display: initial;
        box-sizing: border-box;
        padding-left: 5%;
        padding-right: 5%;
    }

    #mobileContact {
        display: none;
    }

    #educationArticle2 {
        font-size: 1.2rem;
    }

    .projectssArticle {
        height: 25vh;
        line-height: 0.9;
    }

    #projectsIMG1 {
        height: 35vh;
    }

    #projectsIMG2 {
        height: 35vh;
    }

    #projectsIMG3 {
        height: 35vh;
    }

    .logo {
        width: 5%;
    }

    #aboutIMG {
        background-image: url(../img/MeAndCode.jpg);
        height: 50vh;
    }
    #landingMain {
        background-image: url(../img/coding.jpg);
    }
}