#landingWrapper {

    width: 100%;
    height: 150vh;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 90vh 40vh 10vh;
    grid-template-areas:
    'hd'
    'lm'
    'ls'
    'ft';
}

#aboutWrapper {

    width: 100%;
    height: 140vh;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10vh 120vh 10vh;
    grid-template-areas:
    'hd hd'
    'am aa'
    'ft ft';
}

body{
    margin:0
}

a {
    text-decoration: none;
    color: white;
    font: bold;
    font-size: 1.6rem;
}

footer {
    grid-area: ft;
    background-color: gray;
    
}

header{
    grid-area: hd;
    background-color: darkslategrey;
    left:0;
    right:0;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10%;
    height: 10vh;
    background-image: url(../img/Placeholder.jpg) ;
    background-size:cover;
    border-radius: 50%;
}

.mobileNav {
    height: 50vh;
    width: 100%;
    top: -50vh;
    background-color: royalblue;
    transition: top 0.5s ;
    position: fixed;
}

.menu-button{
    cursor: pointer;
}

.menu-button i.material-icons{
    font-size: 4rem;
}

.show {
    top:0vh;
}
.fade-layer{
    position: fixed;
    top: 50vh;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

#landingMain {
    grid-area: lm;
    background-color: lightgreen;
}

.landingSection {
    grid-area: ls;
    background-color: yellow;
}

.desktopNav {
    grid-area: dn;
    background-color: darkslategrey;
    position: fixed;
    left: 85%;
    right: 0;
    top: 10vh;
    bottom: 0vh;
    display: none;
}

#aboutMain {
    grid-area: am;
    background-color: yellow;
}

#aboutAside {
    grid-area: aa;
    background-color: green;
}




/* Desktop */
@media screen and (min-width:768px) {
    
    #landingWrapper {

        grid-template-columns: 85% 15%;
        grid-template-areas:
        'hd hd'
        'lm dn'
        'ls dn'
        'ft ft';

    }

    #aboutWrapper {
        height: 170vh;

        grid-template-columns: 85% 15%;
        grid-template-rows:10vh 150vh 10vh ;
        grid-template-areas:
        'hd hd'
        'am dn'
        'ft ft';

    }
    
    
    
    
    
    .menu-button {
        display: none;
    }
    .desktopNav {
        display: initial;
    }

}